body {
  background-color: pink;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.computer-image {
  width: 150px;
  height: 150px;
}

#computer-selection {
  width: 150px;
  padding: 25px;
  padding-left: 0;
  margin-left: auto;
}

.rock,
.paper,
.scissors {
  width: 75px;
  height: 75px;
  padding: 10px;
}

button {
  background-color: pink;
  border-radius: 50%;
  padding: 25px;
}

.vs {
  width: 75px;
  height: 75px;
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
  padding-bottom: 0;
  gap: 20px;
  flex: 1;
}

#buttons-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: auto;
}

#scores {
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  margin: 25px;
  margin-top: 0;
  flex: 1 0 auto;
  align-items: flex-end;
}

div.result{
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  height: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}